@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;    
}

main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 20px ;
    border: 1px solid #fff;
    background-color: #fff;
    max-width: 375px;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img {
    width: 340px;
    border-radius: 20px;
    margin: 1rem;
}

h1 {
    display: flex;
    align-items: center;
    margin: 0.5em;
    font-size: 25px;
    text-align: center;
    font-weight: 700;
}

p {
    text-align: center;
    font-size: 16px;
    margin: 1em;
    color: lightgray;
    font-weight: 400;
    margin-bottom: 30px;
}
